 <tr>
  <td> 
   <div class="slide-p" >
     <%= link_to visualizer_path(dt.id, :type => 'diacnostic'), remote: true do %>
        <%= t('diagnostics.diagnostic_created_in')%> <%= dt.created_at %>
     <%end%>
    </div>
   </td>
  <% if all_options %>
   <% if dt.owner_by == current_user.id  &&  dt.owner_by != nil %> 
   <td>
     <ul class="button-group">
      <li> <a data-reveal-id="diagnostico_lok<%=dt.id%>" class="small button">Solicitud de borrado</a></li>
     </ul>
   </td>
   <%end%>
  <%end%>
 </tr>

  <div class="reveal-modal" id="diagnostico_lok<%=dt.id%>" data-reveal>
        <div class="row">
        <p class="panel">Para eliminar un diagnostico del expediente es necesario que justifique su eliminación porfavor ingrese los datos al siguiente cuestionario.</p>
        <%= render partial: '/diagnostics/form_for_delete_diagnostic', locals:{dt: dt
          }%>
        </div>
        <a class="close-reveal-modal">&#215;</a>
  </div>