 <tr>
  <td> <a data-reveal-id="diagnostico_<%=dt.id%>"> Diagnóstico creado <%= dt.created_at %></a> </td>
 <tr>

 <div id="diagnostico_<%=dt.id%>" class="reveal-modal" data-reveal>
     <h2>Diagnostico </h2><i> Dr: <%= dt.owner %></i>

     <h3>Problem clasification</h3>
     <div class="row">
       <% if dt.chronic %>
       <p class="chronic"><%=  'Chronic'  %></p>
       <%end%>
       <% if dt.outstanding %>
       <p class="outstanding"><%=  'Outstanding'if dt.outstanding %></p>
       <%end%>
       <% if dt.serious  %>
        <p class="serious"><%=  'Serious' if dt.serious %></p>
       <%end%>
       <% if dt.inconsequential  %>
          <p class="inconsequential"><%=  'Inconsequential' %></p>
       <%end%>
     </div>
     <% if dt.interrogation != nil %>
     <div class="">
      <h3><%= 'Interrogation'%></h3>
       <p align='justify'><%= simple_format(dt.interrogation)%></p>
     </div>
     <%end%>
      <% if dt.physical_examination != nil %>
     <div class="">
      <h3><%= 'Physical examination'%></h3>
       <p align='justify'><%= simple_format(dt.physical_examination)%></p>
     </div>
     <%end%>

     <% if dt.diagnostic_or_clinical_problem != nil %>
     <div class="">
      <h3><%= 'Diagnostic or clinical problem'%></h3>
       <p align='justify'><%= simple_format(dt.diagnostic_or_clinical_problem)%></p>
     </div>
     <%end%>

      <% if dt.list_of_laboratory_studies != nil %>
     <div class="">
      <h3><%= 'List of laboratory studies'%></h3>
       <p align='justify'><%= simple_format(dt.list_of_laboratory_studies)%></p>
     </div>
     <%end%>

      <% if dt.required_therapies != nil %>
     <div class="">
      <h3><%= 'Required therapies'%></h3>
       <p align='justify'><%= simple_format(dt.required_therapies)%></p>
     </div>
     <%end%>


      <% if dt.suggested_treatments != nil %>
     <div class="">
      <h3><%= 'Suggested treatments'%></h3>
       <p align='justify'><%= simple_format(dt.suggested_treatments)%></p>
     </div>
     <%end%>
     
      <% if dt.vital_signs != nil %>
          <%= render partial: '/vital_signs/remoted_signs', locals: {vs: dt.signs}%>
      <%end%>

      <% if dt.notes != nil %>
        <%= render partial: '/diagnostics/show_note', locals:{dt: dt
          } %>
      <%end%>

      <a class="close-reveal-modal">&#215;</a>
  </div>