<h1>Listing diagnostics</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Interrogation</th>
      <th>Physical examination</th>
      <th>Diagnostic or clinical problem</th>
      <th>List of laboratory studies</th>
      <th>Required therapies</th>
      <th>Suggested treatments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnostics.each do |diagnostic| %>
      <tr>
        <td><%= diagnostic.user_id %></td>
        <td><%= diagnostic.interrogation %></td>
        <td><%= diagnostic.physical_examination %></td>
        <td><%= diagnostic.diagnostic_or_clinical_problem %></td>
        <td><%= diagnostic.list_of_laboratory_studies %></td>
        <td><%= diagnostic.required_therapies %></td>
        <td><%= diagnostic.suggested_treatments %></td>
        <td><%= link_to 'Show', diagnostic %></td>
        <td><%= link_to 'Edit', edit_diagnostic_path(diagnostic) %></td>
        <td><%= link_to 'Destroy', diagnostic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diagnostic', new_diagnostic_path %>
