<div style="width:450px;">
  <center>
<h1>Análisis Remoto</h1>

	<% @type_url = (an.archive.url.split('.').last).downcase%>
	<% if  @type_url == ('png')|| @type_url == ('jpg')|| @type_url == ('gif')|| @type_url == ('jpeg') %>
			 <%= link_to "Ver imagen tamaño completo #{number_to_human_size(an.archive.size)}", "#{an.archive.url}", :class => 'button'%></br>
			 <%= image_tag("#{an.archive.url}", width:440)%>
	<%else%>
	  <%if @type_url == 'pdf' %>
		<div>
			<iframe src="http://docs.google.com/viewer?url=http://<%= "localhost:3000#{an.archive.url}"%>&embedded=true" width="400" height="480" style="border: none;"></iframe>
		</div>
			<%= link_to 'PDF vializalo en le navegador', "#{an.archive.url}", :class => 'button'%>
	 	 <%else%>
			 <%= link_to 'Archivo no visualizable descargalo', "#{an.archive.url}", :class => 'button'%>
	  <%end%>
	<%end%>
 </center>

</div>
