<h3>Formulario de Signos Vitales</h3>

<div class="row">
<%= form_tag('/vital_signs/create_from_user', :id => 'vital_signs') do -%>
  <% if current_user.role == 'patient' %>
  <%= hidden_field_tag 'user_id', current_user.id %>
  <%else%>
  <%= label_tag 'Selecciona tu paciente' %>
  <%= select_tag "user_id", options_from_collection_for_select(current_user.patients, "id", "name") %>
  <%end%>
  <%= hidden_field_tag 'owner_by', current_user.id %>
    <div class="row">
      <center>
          <div class="large-4 left" style="margin-left:35px;">
          <%= label_tag 'Peso en Kilogramos' %>
          <%= number_field_tag 'weight','',placeholder: 0, :class => 'required' %>
          </div>
          <div class="large-4 left" style="margin-left:35px;">
          <%= label_tag 'Presión Sistólica' %>
          <%= number_field_tag 'blood_pressure_up','',placeholder: 0 %>
          </div>
          <div class="large-4 left" style="margin-left:35px;">
            <%= label_tag 'Presión Diastólica' %>
            <%= number_field_tag 'blood_pressure_down','',placeholder: 0 %>
          </div>
          <div class="large-4 left" style="margin-left:35px;">
             <%= label_tag 'Pulso por minuto' %>
             <%= number_field_tag 'pulse','',placeholder: 0 %>
          </div>
          <div class="large-4 left" style="margin-left:35px;">
             <%= label_tag 'Altura en centimetros' %>
             <%= number_field_tag 'height','',placeholder: 0 %>
          </div>
          <div class="large-4 left" style="margin-left:35px;">
            <%= label_tag 'Respiración por minuto' %>
            <%= number_field_tag 'breathing','',placeholder: 0 %>
          </div>
          <div class="large-4 left" style="margin-left:35px;">
            <%= label_tag 'Temperatura grados centrigrados' %>
            <%= number_field_tag 'temperature','',placeholder: 0 %>
          </div>
      </center>
    </div>
    <div class=" large-9">
      <%= submit_tag 'Crear signos vitales', :class => 'button right' %>
    </div>
<% end %>
</div>

