  <h3>Signos vitales</h3>
  <p>
  <strong>Peso en Kilogramos:</strong>
  <%= vs.weight %>
</p>

<p>
  <strong>Presi贸n Sist贸lica:</strong>
  <%= vs.blood_pressure_up %>
</p>

<p>
  <strong>Presi贸n Diast贸lica:</strong>
  <%= vs.blood_pressure_down %>
</p>

<p>
  <strong>Pulso por minuto:</strong>
  <%= vs.pulse %>
</p>

<p>
  <strong>Altura en centimetros:</strong>
  <%= vs.height %>
</p>

<p>
  <strong>Respiraciones por minuto:</strong>
  <%= vs.breathing %>
</p>

<p>
  <strong>Temperatura en centigrados:</strong>
  <%= vs.temperature %>
</p>
<p>
  <strong>Persona que tomo los signos:</strong>
  <%=  link_to "#{vs.owner}", user_path(vs.owner_by), target: '_blank' if vs.owner_by != nil%>
  <%=   "#{vs.owner}" if vs.owner_by == nil%>

</p>