<div class="head-ax">Medidas antropometricas</div>
<div class="body-ax">
  <p>
    <strong>Peso en Kilogramos:</strong>
    <%= vs.weight %>
  </p>
  <p>
    <strong>Altura en centimetros:</strong>
    <%= vs.height %>
  </p>
</div><br/>
<div class="head-ax">Signos Vitales</div>
<div class="body-ax">
  <p>
    <strong>Presi贸n Sist贸lica:</strong>
    <%= vs.blood_pressure_up %>
  </p>
  <p>
    <strong>Presi贸n Diast贸lica:</strong>
    <%= vs.blood_pressure_down %>
  </p>
  <p>
    <strong>Frecuencia cardiaca:</strong>
    <%= vs.pulse %>
  </p>
  <p>
    <strong>Frecuencia respiratoria:</strong>
    <%= vs.breathing %>
  </p>
  <p>
    <strong>Temperatura en centigrados:</strong>
    <%= vs.temperature %>
  </p>
  <p>
    <strong>Persona que tomo los signos:</strong>
    <%=  link_to "#{vs.owner}", user_path(vs.owner_by), target: '_blank' if vs.owner_by != nil%>
    <%=   "#{vs.owner}" if vs.owner_by == nil%>
  </p>
</div>