<div class="raw_about">
	<div class="skull_skin" style="padding:30px; height:450px;">
		<div class="row">
			<h2>¿Quienes somos?</h2>
		</div>
		<div class="row">
			<p style="font-size:19px;">IDoctore es una plataforma de manejo de información médica que se basa en la interacción de los diversos tipos de usuario que ingresan en el proceso de diagnóstico médico.</p>
			<p style="font-size:19px;">Estos usuarios que son Doctores y Pacientes deben tener siempre la información médica personal y laboral a su alcance para su uso inmediato en cualquier lugar del mundo donde se encuentren, el trabajo de IDoctore es facilitar el acceso a esta información mediante la tecnología. </p>
			<p style="font-size:19px;">Somo un grupo de emprendedores apasionados que buscan cambiar el mundo de una forma dinámica en el área médica mediante la integración de nuevas tecnologías que permitan el incremento de la eficiencia y la mejora de las capacidades de manejo de información en el mercado médico. </p>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="large-3 left">
		<center><%= image_tag('vission.png', width:60, height:60, class: 'left')%></br>
		<h3 class="subheader">Visión</h3></center>
	</div>
	<div class="large-8 left">
		<p class="subheader"> SSer la plataforma líder en el ámbito del diagnóstico y manejo de información médico, en Latinoamérica y el resto de los países de habla hispana.</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="large-3 left">
		<center><%= image_tag('mission.png', width:60, height:60, class: 'left')%></br>
		<h3 class="subheader">Misión</h3></center>
	</div>
	<div class="large-8 left">
		<p class="subheader"> Mejorar la calidad del manejo de información en el área médica en México, Latinoamérica y el resto de países de habla hispana, romper la brecha digital que existe en este mercado que aún carece de tecnologías accesibles en el manejo de la información en estos paises.</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="large-3 left">
		<center><%= image_tag('philosopy.png', width:60, height:60, class: 'left')%></br>
		<h3 class="subheader">Filosofía</h3></center>
	</div>
	<div class="large-8 left">
		<p class="subheader"> En IDoctore compartimos la concepción de la sensibilidad y la necesidad de acceso a sus datos de cada individuo por lo que tus datos para nosotros son lo más importante.</br></br>
		Para nosotros la posibilidad de darte un mejor acceso al manejo de tu expediente médico en cualquier lugar del mundo es vital en caso de cualquier emergencia.
		</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="large-3 left">
		<center><%= image_tag('target.png', width:60, height:60, class: 'left')%></br>
		<h3 class="subheader">Objetivos</h3></center>
	</div>
	<div class="large-8 left">
		<p class="subheader">
		<ul>
			<li>
				<p class="subheader"><%=image_tag('bullet.png', style: 'margin-top:-20px;')%> Facilitar el manejo de expedientes médicos.</p>
			</li>
			<li>
				<p class="subheader"><%=image_tag('bullet.png', style: 'margin-top:-15px;')%> Almacenar y resguardar la información médica de los usuarios.</p>
			</li>
			<li>
				<p class="subheader"><%=image_tag('bullet.png', style: 'margin-top:-15px;')%> Accesibilidad a la información médica en cualquier lugar y en cualquier hora.</p>
			</li>
		</ul>
		</p>
	</div>
</div>