<div class="home_title" style="margin-top:40px;">
  ¿Quienes somos?
</div>
<div class="raw_about">
	<div class="skull_skin" style="padding:30px; height:500px;">
		<div class="row" style="text-align:justify;">
			<p style="font-size:19px;">IDoctore es una plataforma de manejo de información médica que se basa en la interacción entre doctores y pacientes en el proceso de diagnóstico médico.</p>
			<p style="font-size:19px;">Estos usuarios deben tener siempre su información médica personal y laboral a su alcance para su uso inmediato en cualquier lugar del mundo donde se encuentren, el trabajo de IDoctore es facilitar el acceso a esta información mediante las tecnologías mas avanzadas de manejo de datos. </p>
			<p style="font-size:19px;">Como doctor en IDoctore te facilitamos el proceso de diagnóstico, manejo de citas, impresión de recetas y almacenamientos de expedientes por paciente, todo esto de una manera sencilla y vanguardista ya que almacenamos los datos en nuestro poderoso sistema de cloud computing. </p>
			<p style="font-size:19px;">Como paciente en IDoctore te facilitamos el acceso inmediato a tu expediente médico desce cualquier lugar del mundo donde tu tengas una conexión a Internet, lleva tu data médica en tu bolsillo. </p>
		</div>
	</div>
</div>
<br>
<div class="row" style="margin-top:10px;">
	<div class="large-3 left">
		<center><%= image_tag('vission.png', width:60, height:60, class: 'left')%></br>
		<h3 class="subheader">Visión</h3></center>
	</div>
	<div class="large-8 left" >
		<p class="subheader"  style="text-align:justify;"> Ser la plataforma líder en el ámbito del diagnóstico y manejo de información médica, en Latinoamérica y el resto de los países de habla hispana.</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="large-3 left">
		<center><%= image_tag('mission.png', width:60, height:60, class: 'left')%></br>
		<h3 class="subheader">Misión</h3></center>
	</div>
	<div class="large-8 left">
		<p class="subheader"  style="text-align:justify;"> Mejorar la calidad del manejo de información en el área médica en México, Latinoamérica y el resto de países de habla hispana, romper la brecha digital que existe en este mercado que aún carece de tecnologías accesibles en el manejo de la información en el ambito médico.</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="large-3 left">
		<center><%= image_tag('philosopy.png', width:60, height:60, class: 'left')%></br>
		<h3 class="subheader">Filosofía</h3></center>
	</div>
	<div class="large-8 left">
		<p class="subheader"  style="text-align:justify;"> En IDoctore compartimos tu idea de la necesidad de acceso a tus datos y la seguridad de los mismos.</br></br>
		Para nosotros la posibilidad de darte un mejor acceso al manejo de tu expediente médico en cualquier lugar del mundo es nuestra mayor ocupación.
		</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="large-3 left">
		<center><%= image_tag('target.png', width:60, height:60, class: 'left')%></br>
		<h3 class="subheader">Objetivos</h3></center>
	</div>
	<div class="large-8 left">
		<p class="subheader">
		<ul>
			<li>
				<p class="subheader"><%=image_tag('bullet.png', style: 'margin-top:-20px;')%> Facilitar el manejo de expedientes médicos.</p>
			</li>
			<li>
				<p class="subheader"><%=image_tag('bullet.png', style: 'margin-top:-15px;')%> Almacenar y resguardar la información médica de los usuarios.</p>
			</li>
			<li>
				<p class="subheader"><%=image_tag('bullet.png', style: 'margin-top:-15px;')%> Accesibilidad a la información médica en cualquier lugar y en cualquier hora.</p>
			</li>
		</ul>
		</p>
	</div>
</div>