<div class="raw_index">
  <div class="skull_skin">
   <div class="row">
      <h2><div class="large-7" style="color:#238EA6; margin-top:55px;">Idoctore la mejor forma de manejar expedientes médicos.</div></h1> 
      <div class="large-9 panel callout radius" >
      	El futuro del manejo de datos medicos  y citas médicas esta en tus manos y en la de tus pacientes, mantente 100% cerca de ellos, ten sus datos a mano, lleva un expediente completo de todas sus consultas clínicas.
      </div>
   </div>
   </div>
</div>
<div class="row" style="margin-top:25px;">
        <h2 style="color:#238EA6; margin-bottom:35px;">Herramientas</h2>
	      <div class="large-2 left columns ">
		      <center>
			      <%= image_tag("concept/heart.png", width: 70, height:70, :class => 'jumps')%>
			      <p><a>Genración y almacenamiento de diagnósticos médicos.</a></p>
		      </center>
	      </div>
	      <div class="large-2 left columns ">
		      <center>
			      <%= image_tag("concept/lab.png", width: 70, height:70, :class => 'jumps')%>
			      <p><a>Almacena y accede a los análisis clínicos de tus pacientes.</a></p>
		      </center>
		   </div>
	      <div class="large-2 left columns ">
		      <center>
			      <%= image_tag("concept/pencil.png", width: 70, height:70, :class => 'jumps')%>
			      <p><a>Creación y acceso a notas médicas.</a></p>
		      </center>
		   </div>
	      <div class="large-2 left columns ">
		      <center>
			      <%= image_tag("concept/printer.png", width: 70, height:70, :class => 'jumps')%>
			      <p><a>Impresión de recetas médicas.</a></p>
		      </center>
	      </div>
	      <div class="large-2 left columns ">
		      <center>
			      <%= image_tag("concept/watch.png", width: 70, height:70, :class => 'jumps')%>
			      <p><a>Manejo de citas.</a></p>
		      </center>
	      </div>
	      <div class="large-2 left columns ">
		      <center>
			      <%= image_tag("concept/messages.png", width: 70, height:70, :class => 'jumps')%>
			      <p><a>Chat entre tu y tus pacientes.</a></p>
		      </center>
	      </div>
</div>
<hr>
<div id="what_we_do_a" class="row">
 <h2>¿Qué hacemos?</h2>
  <ul class="small-block-grid-2">
   <li><p class="panel">Proporcionamos heramientas para el manejo personalizado de los perfiles médicos de cada persona.</p></li>
   <li ><%=image_tag('banner4.png', :class => 'th small-10')%></center></li>
  </ul>
</div>
<hr>
<div id="banefits_a" class="row">
  <div class="medium-4 columns">
    <h3><a>Lleva control total de tus citas médicas.</a></h3>
    <p>Maneja tu agenta online sencillamente, eficazmente y sin necesidad de ningún otro médio de comunicación, manteniendo comunicación 27 / 7 con tus pacientes.</p>

    <p><a class="small secondary button">Agenda →</a></p>

  </div>
  <div class="medium-4 columns">
    <h3><a>Lleva un expediente médico.</a></h3>
    <p>De una manera mas sencilla que nunca podras diagnósticar y generar recetas médicas para cada uno de tus pacientes, respaldando tus datos, con opcciones de edición, nunca más te preocuparas por la forma de llevar el expediente y los análisis clínicos.</p>

    <p><a  class="small secondary button">Expediente →</a></p>

  </div>
  <div class="medium-4 columns">
    <h3><a>Dale a tu paciente seguridad.</a></h3>
    <p>En nuestra plataforma tu paciente lleva su expediente en la bolsa 24 / 7, para enmergencias, en cualquier parte del mundo donde tu lo acompañas. </p>

    <p><a class="small secondary button">Pasciente →</a></p>
  </div>
</div>
<hr>
<div id="price_a" class="row">
	<ul class=" medium-4 pricing-table columns">
	  <li class="title">Bronce</li>
	  <li class="price">$1300 MXN</li>
	  <li class="description">Todos los serivicios durante 12 meses.</li>
	  <li class="bullet-item">Hasta 100 pascientes.</li>
	  <li class="bullet-item">20gb de Almacenamiento</li>
	  <li class="cta-button"><a class="button" href="#">Compralo</a></li>
	</ul>
	<ul class=" medium-4 pricing-table columns">
	  <li class="title">Plata</li>
	  <li class="price">$2100 MXN</li>
	  <li class="description">Todos los serivicios durante 12 meses.</li>
	  <li class="bullet-item">Hasta 300 pascientes.</li>
	  <li class="bullet-item">70gb de Almacenamiento</li>
	  <li class="cta-button"><a class="button" href="#">Compralo</a></li>
	</ul>
	<ul class=" medium-4 pricing-table columns">
	  <li class="title">Oro</li>
	  <li class="price">$3300 MXN</li>
	  <li class="description">Todos los serivicios durante 12 meses.</li>
	  <li class="bullet-item">Hasta 1000 pascientes.</li>
	  <li class="bullet-item">150gb de Almacenamiento</li>
	  <li class="cta-button"><a class="button" href="#">Compralo</a></li>
	</ul>
</div>
<div class="foop">
 <div style="padding:35px;">Todos los derechos reservados 2014 © IDoctore</div> 
</div>

<div id="loggin_modal" class="large-4 reveal-modal" data-reveal>
	    <fieldset>
	       <legend><%= t('user.login') %></legend>
	       <%= form_tag('/users/create_session') do -%>
  
			  <p  style='color:#1c80cf;'><%=  t('user.mail') %></p>
			  <%= email_field_tag 'email' %>
			   <p  style='color:#1c80cf;'><%=  t('user.password') %></p>
			  <%= password_field_tag 'password' %>
			  
			  <div><%= submit_tag t('user.init'), :class => 'button' %></div>
		  <% end -%>
		  <%= link_to t('user.register'), new_user_path %></br>
		  <%= link_to t('user.missing_password'), missing_password_path %></br>
	    </fieldset>

	    <a class="close-reveal-modal">&#215;</a>
</div>


