<div class="raw_benefit" style="height:300px; margin-bottom:30px;">
  <div class="skull_skin" style="height:300px; ">
    <div class="row" style="margin-top:120px; ">
      <center>
      	<h4 class='subheader'>"Porque nos gusta pensar que el futuro de la humanidad esta en hombre creamos tecnologías inspirada en el uso diario para mejorar la calidad de vida de nuestros clientes."</h4>
      </center>
    </div>
  </div>
</div>
<center>
  <div class="row">
    <div class="large-2 left columns ">
      <center>
	      <%= image_tag("concept/heart.png", width: 70, height:70, )%>
	      <p><h4 class='subheader'>Diagnósticos</h4></p>
      </center>
    </div>
    <div class="large-8 left columns ">
        <p class='subheader'>Crea y administra diagnósticos en tiempo real con herramientas como el CIE10, acces a ellos en cualquier lugar y a cualquier hora.</p>
    </div>
    <div class="large-8 left columns ">
        <%= image_tag('platform/diagnostico.png')%></br></br>
        <%= image_tag('platform/cie10.png')%>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="large-2 left columns ">
      <center>
	      <%= image_tag("concept/lab.png", width: 70, height:70)%>
	      <p><h4 class='subheader'>Análisis</h4></p>
      </center>
    </div>
    <div class="large-8 left columns ">
        <p class='subheader'>Administra y accede a los diversos análisis clínicos.</p>
    </div>
    <div class="large-8 left columns ">
        <%= image_tag('platform/analisis.png')%></br></br>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="large-2 left columns  ">
      <center>
	      <%= image_tag("concept/pencil.png", width: 70, height:70)%>
	      <p><h4 class='subheader'>Notas médicas</h4></p>
      </center>
    </div>
    <div class="large-8 left columns ">
        <p class='subheader'>Agrega notas médicas a tus diagnósticos en un segundo.</p>
    </div>
    <div class="large-8 left columns ">
        <%= image_tag('platform/nota.png')%></br></br>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="large-2 left columns  ">
      <center>
	      <%= image_tag("concept/printer.png", width: 70, height:70)%>
	      <p><h4 class='subheader'>Recetas médicas</h4></p>
      </center>
    </div>
    <div class="large-8 left columns ">
        <p class='subheader'>Imprime y maneja recetas médicas 24/7</p>
    </div>
    <div class="large-8 left columns ">
        <%= image_tag('platform/diagnosticoss.png')%></br></br>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="large-2 left columns  ">
      <center>
	      <%= image_tag("concept/watch.png", width: 70, height:70)%>
	      <p><h4 class='subheader'>Manejo de citas</h4></p>
      </center>
    </div>
    <div class="large-8 left columns ">
        <p class='subheader'>Maneja tus citas como tu prefieras, recibe solicitudes y lleva tu agenda de forma dinámica.</p>
    </div>
    <div class="large-8 left columns ">
        <div class="small-7 left">
        <%= image_tag('platform/cita1.png')%>
        </div>
        <div class="small-5 left">
        <%= image_tag('platform/cita2.png')%></br></br>
        </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="large-2 left columns  ">
      <center>
	      <%= image_tag("concept/messages.png", width: 70, height:70)%>
	      <p><h4 class='subheader'>Comunicación</h4></p>
      </center>
    </div>
    <div class="large-8 left columns ">
        <p class='subheader'>Mantente comunica de forma segura y privada con tu paciente mediante el chat entre Doctor y Paciente</p>
    </div>
    <div class="large-8 left columns ">
        <div class="small-7 left">
        <%= image_tag('platform/chat.png')%>
        </div>
        <div class="small-5 left">
        <%= image_tag('platform/notice.png')%></br></br>
        </div>
    </div>
  </div>
</center>




