<div data-magellan-expedition="fixed">
  <dl class="sub-nav">
    <dd data-magellan-arrival="build"><%= link_to 'Home', admin_path%></dd>
    <dd data-magellan-arrival="js"><%= link_to 'Users', admin_users_path%></dd>
    <dd data-magellan-arrival="js"><%= link_to 'Cupons', admin_cupons_path%></dd>
    <dd data-magellan-arrival="js"><%= link_to 'Pagos', admin_payments_path%></dd>
    <dd data-magellan-arrival="js"><%= link_to 'Manager de Sellers', sellers_admin_path %></dd>
  </dl>
</div>