<%= render partial: '/admin/menu'%>
<h1>Manager de Hospitales</h1>
<%= form_tag('/hospitals/create_hospital', :id => 'create_hospital') do -%>
	<%= text_field_tag 'name','', placeholder: 'Nombre de la institución'%>
	<%= number_field_tag 'phone','', placeholder: 'Teléfono'%>
    <%= password_field_tag 'password','', placeholder: 'Contraseña'%>
    <%= submit_tag 'Crear nuevo hospital', :class => 'button'%>
<%end%>
<table>
  <thead>
    <tr>
      <th width="200">Nombre</th>
      <th width="150">Teléfono</th>
      <th width="150">Doctores</th>
      <th width="150">Pacientes</th>
      <th width="150">Usuarios totales</th>
      <th width="150">Secure code</th>
      <th width="250">Editar | Eliminar | Importar</th>
    </tr>
  </thead>
  <tbody>
	<% @hospitals.each do |h|%>
	 <tr>
	  <td>  <%= h.name %> </td>
	  <td>  <%= h.phone %> </td>
	  <td>  <%= h.users.where(role: 'doctore').count %> </td>
	  <td>  <%= h.users.where(role: 'patients').count %> </td>
	  <td>  <%= h.users.count %> </td>
	  <td>  <%= h.secure_code %> </td>
      <td>  Editar | Eliminar | Importar</td>
     </tr>
	<%end%>
  </tbody>
</table>