  <ul class="large-block-grid-1 medium-block-grid-3">
    <li>
      <dl class="accordion" data-accordion="myAccordionGroup">
       <% tasks.reverse.each do |t| %>
        <dd>
          <a class="geto" data-geto="panel<%=t.id%>c"><%= t.init_time.strftime('%d'+'/'+'%m'+'/'+'%Y'+' de las '+'%H'+':'+'%M') %> a las <%= t.finish_time.strftime('%H'+':'+'%M') %> </a>
          <div id="panel<%=t.id%>c" class="content ">
            <%= t.request %>
            <div class="panel">
             <h6>
               <small>
                 Paciente: <%= t.user.name %></br>
                 Doctor: <%= t.capt_requester.name %></br>
                 Status: <%= 'Confirmada' if t.confirmed_by_doctor == true %><%= 'Sin Confirmar' if !t.confirmed_by_doctor == true %></br>
              </small>
             </h6>
            </div>
             <ul class="inline-list">
              <li ><%= link_to 'Mensaje', change_cite_path(:type => 'messages', :ident_i => t.id), remote: true %></li>
                <li><%=link_to "Cambiar Fecha", change_cite_path(:type => 'change_cite', :ident_i => t.id), remote: true%></li>
                <li><a href="#">Cancelar</a></li>
             </ul>

             <div id="change<%=t.id%>"></div>
          </div>
        </dd>
          
        <%end%>
      </dl>
    </li>
  </ul>
