   
    <% @tks = tasks.reverse.paginate(:page => params[:page], :per_page => 15)  %>
   <ul class="large-block-grid-1 medium-block-grid-3">
    <li>
      <dl class="accordion" data-accordion="myAccordionGroup">
       <% @tks.each do |t| %>
        <div id="confirmed_by_doctor_<%=t.id%>">
          <% if !t.confirmed_by_doctor %>
                <div class="right" style="padding:13px; font-size:10px; margin-left:-10px;"> <%= link_to 'Confirmar', responce_cite_path(ident_i: t.id), remote: true if current_user.id == t.capt_requester.id %>
                    <%= 'Pendiente' if current_user.id != t.capt_requester.id %>
                </div>
             <%else%>
                <div class="right" style="padding:13px; font-size:10px; margin-left:-10px; color:#088A4B;"> Confirmada </div>
          <%end%>
        </div>
        <dd>

          <a class="geto" data-geto="panel<%=t.id%>c"><%= t.init_time.strftime('%d'+'/'+'%m'+'/'+'%Y'+' de las '+'%H'+':'+'%M') %> a las <%= t.finish_time.strftime('%H'+':'+'%M') %></a>
          <% case %>
          <% when current_user.id ==  t.user.id %>
            <%= render partial: '/users/dates/panel', locals: {t: t}%> 
          <% when  current_user.id == t.capt_requester.id %>
                <%= render partial: '/users/dates/panel', locals: {t: t}%> 
          <%else%>
          <div id="panel<%=t.id%>c" class="content ">
               <div class="panel">
                 La cita que usted quiere visualizar no le pertenece.
               </div>
          </div>
          <%end%>
        </dd>
        <%end%>
      </dl>
    </li>
  </ul>
  <ul class="pagination">
  <%= will_paginate @tks %>
  </ul>
