<%= form_tag("/users/change_password") do -%>
	  <%= label_tag 'password' %>
      <%= password_field_tag 'password' %>
      <%= hidden_field_tag 'id', user.id %>
      <div><%= submit_tag 'Cambiar contraseña', :class => 'button' %></div>
<% end %>