<%= form_tag("/users/change_password") do -%>
	  <%= label_tag 'Ingresa la nueva contraseña' %>
	  <%= password_field_tag 'password', '' ,'data-message' => 'El contaseña nombre no puede quedar vacio.', 'data-target' => 'message_error_password' %>
  	  <small id="message_error_password" class="error" style="margin-top: -16px; display:none;"></small>     
  	  <%= hidden_field_tag 'id', user.id %>
      <div><%= submit_tag 'Cambiar contraseña', :class => 'button' %></div>
<% end %>

<script type="text/javascript">
    $(document).ready(function(){
      VAlForValitx('password');
    }); 
</script>