<div style="width:80%; position:absolute;">
	<p class="red-back">Doctor: <%= user.name %></p>
	<div class=" right-profile-menu actualization-back " >
		<div class="large-3 left">
			<center>
			<%= render partial: '/users/avatars', locals: {user: user , edit: false}%>
			</center>
			<center>
			<%= link_to 'Editar Usuario', edit_user_path(user) if user.id == current_user.id%>
			</center>
		</div>
		<div class="large-8 left">
			<%= render partial: '/users/doctor_info', locals: {user: user}%>
		</div>
	</div>
	<div class=" right-profile-menu actualization-back "  >
		<div style="margin-top:10px;">
			<center>
			<%= render partial: '/users/calendar_for_user',  locals: {user: user, tasks: tasks,  date: @date, inprofile: true}%>
			</center>
		</div>
	</div>
</div>