<%= render partial: '/users/avatars', locals: {user: @user, edit: true}%>
<%= form_tag("/users/#{@user.id}/actualize", :multipart => true) do -%>
<%= label_tag 'Avatar' %>
<%= file_field_tag 'file'  %>
<%= label_tag 'Nombre' %>
<%= text_field_tag 'name', @user.name, :class => 'valitx', 'data-message' => 'El campo nombre no puede quedar vacio.', 'data-target' => 'message_error_name' %>
<small id="message_error_name" class="error" style="margin-top: -16px; display:none;"></small>
<%= label_tag 'Email' %>
<%= email_field_tag 'email', @user.email, :class => 'valitx', 'data-message' => 'El campo email no puede quedar vacio.', 'data-target' => 'message_error_mail'  %>
<small id="message_error_mail" class="error" style="margin-top: -16px; display:none;"></small>
<%= label_tag 'Fecha de nacimiento (día/mes/año)-(01/01/2014)' %>
<%= date_field_tag 'birthday', @user.birthday %>
<!--<div class="row">
  <div class="small-2  left" ><%= label_tag 'Hombre' %>
  <%= radio_button_tag 'sex', 'male' %></div>
  <div class="small-2  left" ><%= label_tag 'Mujer'%>
  <%= radio_button_tag 'sex', 'female' %></div>
</div>-->
<% if current_user.role == 'doctor' %>
<%= label_tag 'Cédula profesional' %>
<%= text_field_tag 'cadre_card', @user.cadre_card, :class => 'valitx', 'data-message' => 'El de la cédula email no puede quedar vacio.', 'data-target' => 'message_error_cadre_card' %>
<small id="message_error_cadre_card" class="error" style="margin-top: -16px; display:none;"></small>
<%= label_tag 'Dirección del consultorio' %>
<%= text_area_tag 'street_addres', @user.street_addres%>
<%= label_tag 'Teléfono de contacto' %>
<%= text_field_tag 'phone', @user.phone %>
<%= label_tag 'Universidad en la que estudio' %>
<%= text_field_tag 'college', @user.college%>
<%= label_tag 'Especialidades  ponerlas con comas(Pediatria, Cardiología, Urología)' %>
<%= text_area_tag 'specialism', @user.specialism %>
<h3>Logos para recetas</h3>
<%= label_tag 'Logo izquierdo' %>
<%= image_tag("#{current_user.left_logo.diagnostic }", :id => 'left', class: 'th') if current_user.left_logo?  %>
<%= file_field_tag 'left_logo'  %>
<%= label_tag 'Logo derecho' %>
<%= image_tag("#{current_user.right_logo.diagnostic }", :id => 'right', class: 'th') if current_user.right_logo?  %>
<%= file_field_tag 'right_logo'  %>
<h3>Selección de modulos</h3>
<div>
  <div style="width:180px;">
    <%= label_tag 'dental_module' do %>
    Módulo para dentistas <%= check_box_tag 'dental_module', true , @user.dental_module %>
    <%end%>
    <%= label_tag 'acupulture_module' do %>
    Módulo para acupuntura <%= check_box_tag 'acupulture_module', true , @user.acupulture_module %>
    <%end%>
  </div>
</div>
<h3>Selección de modulos en historia clínica</h3>
<div>
  <div style="width:150px;">
    <%= label_tag 'homeopatic_clinical_history' do %>
    Homeopatía <%= check_box_tag 'homeopatic_clinical_history', true ,@user.homeopatic_clinical_history %>
    <%end%>
    <%= label_tag 'acupulture_clinical_history' do %>
    Acupuntura <%= check_box_tag 'acupulture_clinical_history', true,@user.acupulture_clinical_history %>
    <%end%>
    <%= label_tag 'dental_clinical_history' do %>
    Dental <%= check_box_tag 'dental_clinical_history', true ,@user.dental_clinical_history %>
    <%end%>
  </div>
</div>
<%end%>
<br/>
<h3>Cambiar password</h3>
<%= label_tag 'Contraseña' %>
<%= password_field_tag 'password', nil %>
<%= label_tag 'Confirmación de contraseña' %>
<%= password_field_tag 'confirm_password', nil %>
<div><%= submit_tag 'Actualizar', :class => 'button' %></div>
<% end -%>
<script>
function readURL(input) {
if (input.files && input.files[0]) {
var reader = new FileReader();
reader.onload = function (e) {
$('#blah').attr('src', e.target.result);
}
reader.readAsDataURL(input.files[0]);
}
}
$("#file").change(function(){
readURL(this);
});
$(document).ready(function(){
VAlForValitx('name');
VAlForValitx('email');
});
</script>
<% if current_user.role == 'doctor' %>
<script type="text/javascript">
$(document).ready(function(){
VAlForValitx('cadre_card');
});
</script>
<%end%>