<p>Últimas actualizaciones del Paciente</p>
<hr>
<div class="left margin-regular">
<table>
  <thead>
    <tr>
    <th width="300"><%= t('vital_signs.vital_signs')%></th>
    </tr>
  </thead>
   <tbody>
    <% @user_vital_signs.reverse.each do |vs| %>
    	<%= render partial: '/vital_signs/show', locals: {vs: vs}%>
    <%end%>
   </tbody>
</table>
<p><a class="small secondary button"><%= t('simple.see_more')%> →</a></p>
</div>

<div class="left margin-regular">
<table>
  <thead>
    <tr>
    <th width="300"><%= t('diagnostics.diagnostics')%></th>
    </tr>
  </thead>
   <tbody>
     <% @user_diagnostics.reverse.each do |dt| %>
        <%= render partial: '/diagnostics/show', locals: {dt: dt , all_options: false}%>
     <%end%>
  </tbody>
</table>
<p><%= link_to t('simple.see_more' + '  →'), diagnostics_users_path(@user.id) , :class => 'small secondary button'%> </p>

</div>

<div class="left margin-regular">
<table>
  <thead>
    <tr>
    <th width="300">Análisis Clínicos</th>
    </tr>
  </thead>
   <tbody>
  </tbody>
</table>
<p><a class="small secondary button"><%= t('simple.see_more')%> →</a></p>

</div>
<hr>
<% if current_user.role == 'doctor' %>
<p>Cítas recientes</p>
<%end%>
