<h3><%= t('diagnostics.diagnostics')%> - <%= link_to "#{@user.name}", user_path(@user.id) %></h3>
<center>
<table>
  <thead>
    <tr>
    <th width="300"><%= t('diagnostics.diagnostics')%></th>
    <th width="200"> <%= t('diagnostics.request_deletion')%></th>
    </tr>
  </thead>
   <tbody>
     <% @diagnostics.reverse.each do |dt| %>
        <%= render partial: '/diagnostics/show', locals: {dt: dt, all_options: true}%>
     <%end%>
  </tbody>
</table>
<ul class="pagination">
  <%= will_paginate @diagnostics %>
</ul>
</center>

