<div class="row">
  <div class="large-7 columns">
    <h1>Cambio de contrase침a</h1>
    <center><%= image_tag('banner9.jpg') %></center>
    <hr>
    <p>Se te enviar치 un email con el las instrucciones para que puedas cambiar tu contrase침a.</p>
  </div>
  <div class="large-5 columns">
    <fieldset>
      <legend>Cambio de contrase침a.</legend>
      <%= form_tag("/users/change_missing_password") do -%>
      <%= label_tag 'Ingresa tu email con el cual te registraste' %>
      <%= email_field_tag 'email', '' , 'data-message' => 'El campo email no puede quedar vacio.', 'data-target' => 'message_error_email'  %>
      <small id="message_error_email" class="error" style="margin-top: -16px; display:none;"></small>
      <div class="right"><%= submit_tag 'Enviar instrucciones', :class => 'button' %></div>
      <% end %>
    </fieldset>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
VAlForValitx('email');
});
</script>