<div class="row">
<div class="large-7 columns">
<h1>Cambio de contrase침a</h1>
 <center><%= image_tag('banner9.jpg') %></center>
<hr>
<p>Se te enviar치 un email con el las instrucciones para que puedas cambiar tu contrase침a.</p>
</div>
<div class="large-5 columns">
  <fieldset>
    <legend>Cambio de contrase침a.</legend>
		<%= form_tag("/users/change_missing_password") do -%>
			  <%= label_tag 'Email' %>
		      <%= email_field_tag 'email' %>
		      <div class="right"><%= submit_tag 'Enviar instrucciones', :class => 'button' %></div>
		<% end %>
  </fieldset>
</div>
</div>