<div class="mobile_head">
  Visor de citas
</div>
<div class="row mobile_body">
  <% if @tasks.count != 0 %>
  <% @tasks.reverse.each do |task|%>
  <div class="data-li large-4 columns">
      <div class="cite_day">
      <h2><%= task.init_time.strftime('%d') %></h2>
      <h3><%= task.init_time.strftime('%B') %></h3>
      <h4><%= task.init_time.strftime('%Y') %></h4>
      </div>
      <div class="cite_content small-8 columns">
      <h4>Médico: <%= task.capt_requester.name %></h4>
      <h4>Hora: <%= task.init_time.strftime('%H:%M') %></h4>
      </div>
  </div>
  <%end%>
  <%else%>
   <div class="cite_day">
    <center>
      <h2>No tienes citas</h2>
    </center>
   </div>
  <%end%>
</div>