
  <%= render partial: '/layout_parts/post_menu', locals: {user: @user, owner: current_user} %>
  <div class="row">
   <div class="left large-3" style="display:none;"> 
      <ul class="side-nav ">
        <% if @user.id == current_user.id && current_user.role == 'doctor' %><li class="acordion-lile"><%= link_to t('tabs_from_menu_user.patients'), patients_path %></li><%end%>
        <li class="acordion-lile"><a href="#"><%= t('tabs_from_menu_user.record')%></a></li>
        <li class="acordion-lile"><a href="#"><%= t('tabs_from_menu_user.medical_record')%></a></li>
        <li class="acordion-lile"><a href="#"><%= t('tabs_from_menu_user.treatment')%></a></li>
        <li class="acordion-lile"><%= link_to 'Editar mi perfíl', edit_user_path(current_user.id)%></li>
       </ul>
    </div>
  </div>
  <div class="row">

    <p class="red-back"><%= @user.name %></p>

    <div class=" right-profile-menu actualization-back " >
    <div class="large-3 left">
    <%= render partial: '/users/avatars', locals: {user: @user}%>
    </div>
    <p>Sexo: <%= @user.sex if @user.sex != nil %></p>
    <p>Edad: <%= @user.ageu %></p>
    <%= link_to 'Editar Usuario', edit_user_path(@user) if @user.id == current_user.id%>
   </div>

  <div class="row">
    <center>
      <div class="actualization-back" style="width:97%;">
        <%= render partial: 'users/last_update_from_user', locals: {vital_signs: @user_vital_signs, tasks: @tasks} %>
      <div id="container_of_parts" ></div>
      </div>
    </center>
  </div>




