<h1>Pagos Realizados</h1>
<% current_user.payments.each do |pay|%>
<div class="panel callout left">
  <div class="large-11 columns">
  Total:<%=pay.payment_global%></br>
  Inicia: <%=pay.init%></br>
  Expira: <%=pay.expire%></br>
  Referencia: <%=pay.token_pay%></br>
  </div>
  <div class="large-2 right"><%= image_tag('payment.png', width:60, height:60)%></div>
</div>
<%end%>