<div class="row">
  <div  class="large-12 columns">
    <div class="head-ax">Antecedentes heredo familiares</div>
    <div class="body-ax">
      <center>
      <table>
        <thead>
          <tr>
            <th width="750">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <% clinical_history.familial_diseases.each do |fd| %>
          <tr>
            <td><%= fd.name %></td>
          </tr>
          <%end%>
        </tbody>
      </table>
      </center>
    </div>
  </div>
</div></br>
<div class="row">
  <div  class="large-12 columns">
    <div class="head-ax">Antecedentes personales no patológicos</div>
    <div class="body-ax">
      <center>
      <table>
        <thead>
          <tr>
            <th width="200">Nombre</th>
            <th width="200">Notas</th>
          </tr>
        </thead>
        <tbody>
          <% clinical_history.no_pathological_antecedents.each do |fd| %>
          <tr>
            <td><%= fd.name %></td>
            <td><%= fd.note %></td>
          </tr>
          <%end%>
        </tbody>
      </table>
      </center>
    </div>
  </div>
</div></br>
<div class="row">
  <div  class="large-12 columns">
    <div class="head-ax">Antecedentes personales patológicos</div>
    <div class="body-ax">
      <center>
      <table>
        <thead>
          <tr>
            <th width="200">Nombre</th>
            <th width="200">Notas</th>
          </tr>
        </thead>
        <tbody>
          <% clinical_history.no_pathological_antecedents.each do |fd| %>
          <tr>
            <td><%= fd.name %></td>
            <td><%= fd.note %></td>
          </tr>
          <%end%>
        </tbody>
      </table>
      </center>
    </div>
  </div>
</div></br>
<div class="row">
  <div  class="large-12 columns">
    <div class="head-ax">Padecimiento actual</div>
    <div class="body-ax"><%= clinical_history.suffering %></div>
  </div>
</div></br>
<div class="row">
  <div  class="small-12 columns">
    <div class="head-ax">Interrogatorio por aparatos y sistemas</div>
    <div class="body-ax"><%= clinical_history.interview %></div>
  </div>
</div></br>