<table>
  <thead>
    <tr>
      <th width="20%">Nombre</th>
      <th width="6%">Si/No</th>
      <th width="6%">1º</th>
      <th width="6%">2º</th>
      <th width="6%">3º</th>
      <th width="6%">Genealogía</th>
    </tr>
  </thead>
  <tbody id="table_family_diases">
    <center>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+100 , value: "Tuberculosis" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+110 , value: "Cardiopatías" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+120 , value: "Hipertensión" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+130 , value: "Epilepsia" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+141323 , value: "Ansiedad" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+14223 , value: "Depresión" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+14323 , value: "Bipolaridad" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+14423, value: "Ezquizofrenia" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+140 , value: "Enfermedad mental o nerviosa" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+150 , value: "Diabetes" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+160 , value: "Tabaquismo" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+170 , value: "Hemofílicos" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+180 , value: "Alcoholismo" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+190 , value: "Obesidad" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+200 , value: "Hepatitis" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+210 , value: "Toxicomanías" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+220 , value: "Oncológicos" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+230 , value: "Reumáticos" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+240 , value: "Otras" }%>
    <%= render partial: 'default_familial', locals: {number: SecureRandom.random_number(5)+250 , value: "Niega antecedentes" }%>
    <%= f.fields_for :familial_diseases  do |fd| %>
    <%= render partial: 'familial_disease_fields', locals: {:f => fd} %>
    <%end%>
    </center>
  </tbody>
</table>
<%= link_to_add_association 'Agregar padecimiento familiar específico ', f, :familial_diseases, :class => 'button succes small' %>
<div class="row">
<%= label_tag "Anotaciones del area:" %>
<%= f.text_area :note_pathology, placeholder: "Agrega una anotación del area",  rows: 13%>
</div>