<a data-reveal-id="toot-container-<%=number%>" href="#" ><div class="single-tooth left" ><%=number%></div></a>
<div id="toot-container-<%=number%>" class="reveal-modal" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <div style="margin-left: 20px; margin-top:-15px; margin-bottom:35px;">
    <div style="width:25%; margin-left:40px;" class="left">
      <%= label_tag "dental_record_tooths_attributes_#{number}_top" do %>
      <div class="checkt top-part" id='<%="x_dental_record_tooths_attributes_#{number}_top"%>' data-open='<%="tooth_#{number}_top"%>'></div>
      <%end%>
      <%= label_tag "dental_record_tooths_attributes_#{number}_center" do %>
      <div class="checkt center-part" id='<%= "x_dental_record_tooths_attributes_#{number}_center" %>' data-open='<%="tooth_#{number}_center"%>' ><%= number %></div>
      <%end%>
      <%= label_tag "dental_record_tooths_attributes_#{number}_bottom" do %>
      <div class="checkt bottom-part" id='<%="x_dental_record_tooths_attributes_#{number}_bottom"%>' data-open='<%="tooth_#{number}_bottom"%>'></div>
      <%end%>
      <%= label_tag "dental_record_tooths_attributes_#{number}_left" do %>
      <div class="checkt left-part" id='<%="x_dental_record_tooths_attributes_#{number}_left"%>' data-open='<%="tooth_#{number}_left"%>' ></div>
      <%end%>
      <%= label_tag "dental_record_tooths_attributes_#{number}_right" do %>
      <div class="checkt right-part" id='<%= "x_dental_record_tooths_attributes_#{number}_right" %>' data-open='<%="tooth_#{number}_right"%>' ></div>
      <%end%>

      <%= render partial: "/teeths/tooth_color", locals: {idfield: "dental_record_tooths_attributes_#{number}_class_action_top",  iddivision: "x_dental_record_tooths_attributes_#{number}_top", callid: "tooth_#{number}_top", classx: "top-part", number: number }%>

      <%= render partial: "/teeths/tooth_color", locals: {idfield: "dental_record_tooths_attributes_#{number}_class_action_center",  iddivision: "x_dental_record_tooths_attributes_#{number}_center", callid: "tooth_#{number}_center", classx: "center-part", number: number }%>

      <%= render partial: "/teeths/tooth_color", locals: {idfield: "dental_record_tooths_attributes_#{number}_class_action_bottom",  iddivision: "x_dental_record_tooths_attributes_#{number}_bottom", callid: "tooth_#{number}_bottom", classx: "bottom-part", number: number }%>

      <%= render partial: "/teeths/tooth_color", locals: {idfield: "dental_record_tooths_attributes_#{number}_class_action_left",  iddivision: "x_dental_record_tooths_attributes_#{number}_left", callid: "tooth_#{number}_left", classx: "left-part", number: number }%>

      <%= render partial: "/teeths/tooth_color", locals: {idfield: "dental_record_tooths_attributes_#{number}_class_action_right",  iddivision: "x_dental_record_tooths_attributes_#{number}_right", callid: "tooth_#{number}_right", classx: "right-part", number: number }%>
    </div>
    <div style="display:none;">
      <%= text_field_tag "dental_record[tooths_attributes][#{number}][class_action_top]" %>
      <%= text_field_tag "dental_record[tooths_attributes][#{number}][class_action_bottom]" %>
      <%= text_field_tag "dental_record[tooths_attributes][#{number}][class_action_left]" %>
      <%= text_field_tag "dental_record[tooths_attributes][#{number}][class_action_right]" %>
      <%= text_field_tag "dental_record[tooths_attributes][#{number}][class_action_center]" %>
    </div>
    <div class="left" style="width:65%;">
      <h2>Opcciones</h2>
      <div class="top-xxd">
        <p>Nota</p>
        <%= text_area_tag "dental_record[tooths_attributes][#{number}][note]", "", placeholder: "Notas" %>
        <div style="display:none;">
          <%= number_field_tag "dental_record[tooths_attributes][#{number}][number]", number %>
        </div>
      </div>
      <div class="top-xxd">
        <p>Observación</p>
        <%= select_tag "dental_record[tooths_attributes][#{number}][problem]", options_for_select(["sin observación ","ausente", "cariado", "extracción indicada", "no erupcionado", "reincidencias de caries", "restaurado", "selladores indicados", "supernumerario", "fracturado", "mobilidad ", "prótesis removible", "prótesis fija"]) %>
      </div>
    </div>
  </div>
  <div style="display:none;">
    <div class="left" style="width:60px; margin:10px;"><p>Sup</p><%= check_box_tag "dental_record[tooths_attributes][#{number}][top]" %></div>
    <div class="left" style="width:60px; margin:10px;"><p>Iz</p><%= check_box_tag "dental_record[tooths_attributes][#{number}][left]"%></div>
    <div class="left" style="width:60px; margin:10px;"><p>De</p><%= check_box_tag "dental_record[tooths_attributes][#{number}][right]"%></div>
    <div class="left" style="width:60px; margin:10px;"><p>Inf</p><%= check_box_tag "dental_record[tooths_attributes][#{number}][bottom]" %></div>
    <div class="left" style="width:60px; margin:10px;"><p>Cent</p><%= check_box_tag "dental_record[tooths_attributes][#{number}][center]"%></div>
  </div>
</div>