
<a data-reveal-id="toot-container-<%=tooth.number%>" href="#" ><div class="single-tooth  <%= 'problem' if tooth.top || tooth.center || tooth.bottom || tooth.left || tooth.right %> <%= 'strikethrough' if tooth.problem == 'cariado' || tooth.problem == 'reincidencias de caries'  %> <%= 'problem-red' if tooth.problem == 'extracci贸n indicada' %>  <%= 'problem-blue' if tooth.problem == 'restaurado' %> <%= 'problem-black' if tooth.problem == 'ausente' %> <%= 'problem-purple' if tooth.problem == 'fracturado' %> <%= 'problem-green' if tooth.problem == 'no erupcionado' %> <%= 'strikethroughblue' if tooth.problem == 'selladores indicados' %> <%= 'problem-lightblue' if tooth.problem == 'pr贸tesis fija' %> <%= 'problem-lightblue' if tooth.problem == 'pr贸tesis removible' %> left" ><%= tooth.number%></div></a>

<div id="toot-container-<%=tooth.number%>" class="reveal-modal" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <div style="margin-left: 20px; margin-top:-15px; margin-bottom:35px;">
    <div style="width:25%;" class="left">
      <div class="checkt top-part <%= 'top-part-blue' if tooth.class_action_top == 'top-part-blue' %> <%= 'top-part-red' if tooth.class_action_top == 'top-part-red' %>" style="<%= 'border-top: 50px solid #FACC2E;' if tooth.top &&  tooth.class_action_top.nil? %>"></div>
      <div class="checkt center-part <%= 'center-part-blue' if tooth.class_action_center == 'center-part-blue' %> <%= 'center-part-red' if tooth.class_action_center == 'center-part-red' %>"  style="<%= 'background: #FACC2E;' if tooth.center  && tooth.class_action_center.nil? %>"><%= tooth.number %></div>
      <div class="checkt bottom-part <%= 'bottom-part-blue' if tooth.class_action_bottom == 'bottom-part-blue' %> <%= 'bottom-part-red' if tooth.class_action_bottom == 'bottom-part-red' %>" style="<%= 'border-bottom: 50px solid #FACC2E;' if tooth.bottom && tooth.class_action_bottom.nil?  %>" ></div>
      <div class="checkt left-part <%= 'left-part-blue' if tooth.class_action_left == 'left-part-blue' %> <%= 'left-part-red' if tooth.class_action_left == 'left-part-red' %>" style="<%= 'border-left: 50px solid #FACC2E;' if tooth.left  && tooth.class_action_left.nil?  %>" ></div>
      <div class="checkt right-part <%= 'right-part-blue' if tooth.class_action_right == 'right-part-blue' %> <%= 'right-part-red' if tooth.class_action_right == 'right-part-red' %>" style="<%= 'border-right: 50px solid #FACC2E;' if tooth.right  && tooth.class_action_right.nil? %>" ></div>
    </div>
    <div class="left" style="width:75%; margin-top:-10px;">
      <h2>Observaciones</h2>
      <div class="top-xxd">
        <b>Nota</b>
        <p><%= tooth.note %></p>
      </div>
      <div class="top-xxd">
        <b>Observaci贸n</b>
        <p><%= tooth.problem %></p>
      </div>
    </div>
  </div>
</div>
