<tr>
  <td>
    <%= label_tag "clinical_history_pathological_antecedents_attributes_#{number}_name" do %>
    <%= "#{value}"%>
    <%end%>
  </td>
  
  <td><%= check_box_tag "clinical_history[pathological_antecedents_attributes][#{number}][name]", "#{value}" %></td>
  <!--
  <td><%=radio_button_tag "clinical_history[pathological_antecedents_attributes][#{number}][pathology]", 1, checked: true%></td>
  <td><%=radio_button_tag "clinical_history[pathological_antecedents_attributes][#{number}][pathology]", 2%></td>
  <td><%=radio_button_tag "clinical_history[pathological_antecedents_attributes][#{number}][pathology]", 3 %></td>
  -->
</tr>
