<div class="row">
  <%= form_for @clinical_history do |f|%>
  <div  class="large-6 columns">
    <div class="head-ax">Paciente</div>
    <div class="body-ax">
      <fieldset>
        <%=" Historia clínica de #{@user.name}" %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.hidden_field :doctor_id, value: current_user.id %>
      </fieldset>
    </div></br>
    <div class="head-ax">Signos Vitales</div>
    <div class="body-ax">
      <fieldset>
        <h5>En este apartado se muestra la última toma de signos vitales.</h5>
        <%= render partial: '/vital_signs/remoted_signs', locals: {vs: @v} if @v != false %>
        <%= f.hidden_field :vital_sign_id , value: @v.id if @v != false %>
      </fieldset>
    </div>
  </div>

  <div  class="large-6 columns">
    <div class="head-ax">Padecimiento actual</div>
    <div class="body-ax">
      <%= f.text_area :suffering,  rows: 18 %>
    </div></br>
    <div class="head-ax"> Interrogatorio por aparatos y sistemas</div>
    <div class="body-ax">
      <%= f.text_area :interview,  rows: 17 %>
    </div></br>
  </div></br>

  <div  class="large-12 columns">
  </br>
    <div class="head-ax"> Padecimientos familiares</div>
    <div class="body-ax">
      <fieldset id="familial_diseases">
        <%= f.fields_for :familial_diseases do |fd| %>
        <%= render partial: 'familial_disease_fields', locals: {:f => fd} %>
        <%end%>
        <%= link_to_add_association 'Agregar padecimiento familiar', f, :familial_diseases, :class => 'button succes small' %>
      </fieldset>
    </div>
  </div></br></br>

  <div  class="large-12 columns">
  </br>
    <div class="head-ax"> Exploración física</div>
    <div class="body-ax">
      <fieldset id="phisical_explorations">
        <%= f.fields_for :phisical_explorations do |fd| %>
        <%= render partial: 'phisical_explorations_fields', locals: {:f => fd} %>
        <%end%>
        <%= link_to_add_association 'Agregar zona de exploración', f, :phisical_explorations, :class => 'button succes small' %>
      </fieldset>
    </div>
  </div></br></br>

  <div  class="large-12 columns">
  </br>
    <div class="head-ax">Resultados previos y actuales de Aux. de diagnostico</div>
    <div class="body-ax">
      <%= f.text_area :diagnostic_aux,  rows: 12  %>
    </div>
  </div></br></br>

  <div  class="large-12 columns">
  </br>
    <div class="head-ax">Terapéutica empleada y resultados obtenidos</div>
    <div class="body-ax">
      <%= f.text_area :terapeutic_use,  rows: 12  %>
    </div>
  </div></br></br>

  <div  class="large-12 columns">
  </br>
    <div class="head-ax">Diagnóstico o problemas clínicos</div>
    <div class="body-ax">
        <%= f.text_area :diagnostic,  rows: 12  %>
    </div>
  </div></br></br>

  <div  class="large-12 columns">
  </br>
  <%= f.submit 'Enviar', :class => 'button'%>
  </div>
  <%end%>
</div>
<script type="text/javascript">
$(document).ready(function() {
$("#familial_diseases a.add_fields").
data("association-insertion-position", 'after').
data("association-insertion-node", 'this');
$(".container").on('click',"a.remove_fields",function(){
return confirm("Do you want to delete this?") ;
});
$("#phisical_explorations a.add_fields").
data("association-insertion-position", 'after').
data("association-insertion-node", 'this');
});
</script>