<div class="row">
  <%= form_for @clinical_history do |f|%>
  <div  class="large-12 columns">
    <div class="head-ax">Paciente</div>
    <div class="body-ax">
      <fieldset>
        <%=" Historia clínica de #{@user.name}" %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.hidden_field :doctor_id, value: current_user.id %>
      </fieldset>
    </div></br>
  </div></br></br>
  <%= render partial: 'clinical_histories/parts_form/ficha', locals: {f: f, user: @user} %>
  <%= render partial: 'clinical_histories/parts_form/phisical_exploration', locals: {f: f, user: @user} %>
  <div  class="large-12 columns">
    </br>
    <div class="head-ax"><span style="margin-right:-80px;"> Estudios de laboratorio, gabinete y otros </span><a class="right uppart" data-target="lab" ><h6 style="color:#ffffff;">Abrir <i class="fa fa-chevron-down"></i></h6></a></div>
    <div class="body-ax" id="lab" style="display:none;">
      <%= f.text_area :diagnostic_aux,  rows: 12  %>
    </div>
  </div></br></br>
  <div  class="large-12 columns">
    </br>
    <div class="head-ax"><span style="margin-right:-80px;"> Diagnósticos clínicos </span><a class="right uppart" data-target="diag" ><h6 style="color:#ffffff;">Abrir <i class="fa fa-chevron-down"></i></h6></a></div>
    <div class="body-ax" id="diag" style="display:none;">
      <%= f.text_area :diagnostic,  rows: 12  %>
    </div>
  </div></br></br>
  <div  class="large-12 columns">
    </br>
    <div class="head-ax"><span style="margin-right:-80px;"> Indicación terapéutica </span><a class="right uppart" data-target="tera" ><h6 style="color:#ffffff;">Abrir <i class="fa fa-chevron-down"></i></h6></a></div>
    <div class="body-ax" id="tera" style="display:none;">
      <%= f.text_area :terapeutic_use,  rows: 12  %>
    </div>
  </div></br></br>

  <div  class="large-12 columns">
    </br>
    <div class="head-ax"><span style="margin-right:-80px;"> Especialidad Dental </span><a class="right uppart" data-target="dent" ><h6 style="color:#ffffff;">Abrir <i class="fa fa-chevron-down"></i></h6></a></div>
    <div class="body-ax" id="dent" style="display:none;">
      <%= render partial: 'clinical_histories/parts_form/dental', locals: {f: f, user: @user} %>
    </div>
  </div></br></br>
  
  <div  class="large-12 columns">
    </br>
    <%= f.submit 'Generar actualización de la historia clínica', :class => 'button right'%>
  </div>
  <%end%>
</div>
<script type="text/javascript">
$(document).ready(function() {
$("#familial_diseases a.add_fields").
data("association-insertion-position", 'after').
data("association-insertion-node", '#table_family_diases');
$(".container").on('click',"a.remove_fields",function(){
return confirm("¿Deseas eliminar este campo?") ;
});

$("#vital_signs a.add_fields").
data("association-insertion-position", 'after').
data("association-insertion-node", '#phisical_vital_signs');

$("#phisical_explorations a.add_fields").
data("association-insertion-position", 'after').
data("association-insertion-node", '#table_phisical_explorations');

$("#no_pathological_antecedents a.add_fields").
data("association-insertion-position", 'after').
data("association-insertion-node", '#table_no_pathological_antecedents');

$("#pathological_antecedents a.add_fields").
data("association-insertion-position", 'after').
data("association-insertion-node", '#table_pathological_antecedents');

$("#dental_records a.add_fields").
data("association-insertion-position", 'after').
data("association-insertion-node", '#dental_records');

});
</script>