<div class="row">
  <%= form_for @clinical_history do |f|%>
  <div  class="large-12 columns">
    <div class="head-ax">Paciente</div>
    <div class="body-ax">
      <fieldset>
        <%=" Historia clínica de #{@user.name}" %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.hidden_field :doctor_id, value: current_user.id %>
      </fieldset>
    </div></br>
  </div></br></br>
  <%= render partial: 'clinical_histories/parts_form/ficha', locals: {f: f, user: @user} %>
  <%= render partial: 'clinical_histories/parts_form/phisical_exploration', locals: {f: f, user: @user} %>
  <div  class="large-12 columns">
    </br>
    <div class="head-ax">Estudios de laboratorio, gabinete y otros</div>
    <div class="body-ax">
      <%= f.text_area :diagnostic_aux,  rows: 12  %>
    </div>
  </div></br></br>
  <div  class="large-12 columns">
    </br>
    <div class="head-ax">Diagnósticos clínicos</div>
    <div class="body-ax">
      <%= f.text_area :diagnostic,  rows: 12  %>
    </div>
  </div></br></br>
  <div  class="large-12 columns">
    </br>
    <div class="head-ax">Indicación terapéutica</div>
    <div class="body-ax">
      <%= f.text_area :terapeutic_use,  rows: 12  %>
    </div>
  </div></br></br>
  
  <div  class="large-12 columns">
    </br>
    <%= f.submit 'Generar actualización de la historia clínica', :class => 'button right'%>
  </div>
  <%end%>
</div>
<script type="text/javascript">
$(document).ready(function() {
$("#familial_diseases a.add_fields").
data("association-insertion-position", 'after').
data("association-insertion-node", 'this');
$(".container").on('click',"a.remove_fields",function(){
return confirm("Do you want to delete this?") ;
});
$("#phisical_explorations a.add_fields").
data("association-insertion-position", 'after').
data("association-insertion-node", 'this');
$("#no_pathological_antecedents a.add_fields").
data("association-insertion-position", 'after').
data("association-insertion-node", 'this');
$("#pathological_antecedents a.add_fields").
data("association-insertion-position", 'after').
data("association-insertion-node", 'this');
});
</script>