<tr class="nested-fields">
  <td><%= f.text_field :name, placeholder: 'Padecimiento Prueba' %></td>
  <td><%=  link_to_remove_association("Eliminar", f, :class => 'left label alert',  data: {confirm: '¿Estas seguro de eliminarlo?'}) %></td>
  <td><%= f.radio_button :evaluation, "mala" %></td>
  <td><%= f.radio_button :evaluation, "intermedia", checked: true%></td>
  <td><%= f.radio_button :evaluation, "buena"%></td>
  <td><%= f.radio_button :evaluation, "muy buena" %></td>
</tr>