<tr class="nested-fields">
    <td><%= f.text_field :name, placeholder: 'Padecimiento patológico' %></td>
    <td><%=  link_to_remove_association("Eliminar", f, :class => 'left label alert ',  data: {confirm: '¿Estas seguro de eliminarlo?'}) %></td>
    <td><%=f.radio_button :pathology, 1, checked: true %></td>
    <td><%=f.radio_button :pathology, 2%></td>
    <td><%=f.radio_button :pathology, 3%></td>
</tr>
