<div class="large-2"><%= render partial: '/users/doctor_parts/menu_private', locals: {user: user}%></div>
<div style="width:80%; position:absolute;">
	<div class=" right-profile-menu actualization-back " >
				<div class="red-back-2 left" style="width:100%; padding:30px;">
			     <div class="left"><center><%= render partial: '/users/avatars', locals: {user: user , edit: false}%></center></div>
			     <div class="left large-5">
					 <div class="left panel"> <b>Doctor:</b> <%= user.name %></div>
					 <div class="left panel" style="width:100%;"> <b>Especialidades:</b></br> <%=  changer_br(user.specialism).html_safe if user.specialism != nil  %><%= "Agrega las especialidades al editar tu perfil" if user.specialism == nil  %></div>
				 </div>
				</div>
		    <%= render partial: '/users/doctor_parts/doctor_info', locals: {user: user}%>
	</div>
</div>