<% if !agent %>
<div style="width:100px; left:0; position:fixed; z-index:1;">
	<% if user.id == current_user.id && current_user.role == 'doctor'%>
		<div style="width:60px; float:left;  margin-left:10px;">
			<center>
			<%= link_to institutions_new_path do %>
			<%= link_to image_tag('users/iconos_menu/portfolio.png'), institutions_new_path, :class => 'stock_menu' %>
			<%= link_to 'Instituciones', institutions_new_path, :style => 'font-size:9px; margin-top:-5px; margin-left:10px;'%>
			<%end%>
			</center>
		</div>
		<div style="width:60px; float:left; margin-left:10px;">
			<center>
			<%= link_to all_create_path do %>
			<%= link_to image_tag('concept/heart.png'), all_create_path, :class => 'stock_menu' %>
			<%= link_to 'Diagnosticos', all_create_path, :style => 'font-size:9px; margin-top:-5px; margin-left:10px;'%>
			<%end%>
			</center>
		</div>

		<div style="width:60px; float:left; margin-left:10px;">
			<center>
			<%= link_to edit_user_path(user) do %>
			<%= link_to image_tag('concept/pencil.png'), edit_user_path(user), :class => 'stock_menu' %>
			<%= link_to 'Editar Usuario', edit_user_path(user), :style => 'font-size:9px; margin-top:-5px; margin-left:10px;'  if user.id == current_user.id%>
			<%end%>
			</center>
		</div>
	<%end%>
		<div style="width:60px; float:left; margin-left:10px;">
			<center>
			<%= link_to all_cites_viwer_path do %>
			<%= link_to image_tag('concept/watch.png'), all_cites_viwer_path, :class => 'stock_menu' %>
            <%= link_to 'Citas', all_cites_viwer_path, :style => 'font-size:9px; margin-top:-5px; margin-left:10px;'%>
			<%end%>
			</center>
		</div>
</div>
<%end%>