<table>
  <thead>
    <tr>
      <th width="50">Avatar</th>
      <th>Nombre</th>
      <th width="150">Historia clínica</th>
      <th width="150">Status</th>
      <th width="150">Ver diagnósticos</th>
      <th width="150">Ver análisis</th>
      <th width="150">Ver signos vitales</th>
      <th width="150">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% users.reverse.each do |user| %>
    <tr>
      <% if user != current_user %>

      <td>
        <%  if session[:assistant] == nil %>
        <% if validate_accepted_patient(current_user,user) %>
        <%= link_to user_path(user.id) do %>
        <%= render partial: '/users/avatars_mini', locals: {user: user, edit: false}%>
        <%end%>
        <%else%>
        <%= render partial: '/users/avatars_mini', locals: {user: user, edit: false}%>
        <%end%>
        <%else%>
        <%= render partial: '/users/avatars_mini', locals: {user: user, edit: false}%>
        <%end%>
      </td>
      <td>
        <%  if session[:assistant] == nil %>
        <% if validate_accepted_patient(current_user,user) %>
        <%= link_to user_path(user.id) do %>
        <%= user.name %>
        <%end%>
        <%else%>
        <%= user.name %>
        <%end%>
        <%else%>
        <%= user.name %>
        <%end%>
      </td>
      <td>
        <% if validate_accepted_patient(current_user,user) %>
         <center> <%= link_to 'Ver  →', clinical_history_path(user: user.id) %> </center>
        <%end%>
      </td>
      <td>
        <% if validate_accepted_patient(current_user,user) %>
        <center><% if user.role == 'patient' %><span class="success label"><%= 'Es tu paciente' %></span><%end%></center>
        <center><% if user.role == 'doctor' %><span class="success label"><%= 'Es tu doctor'%></span><%end%></center>
        <%else%>
        <center><p><%= status_if_request_patient_doctor_exist(current_user, user).html_safe %></p></center>
        <%end%>
      </td>
      <td>
        <center>
        <%= link_to 'Ver  →', diagnostics_users_path(user.id) %>
        </center>
      </td>
      <td>
        <center>
        <%= link_to 'Ver  →', single_files_inx_path(user.id) %>
        </center>
      </td>
      <td>
        <center>
        <%= link_to 'Ver  →', vital_signs_inx_path(user.id) %>
        </center>
      </td>
      <td><%= link_to 'Eliminar Relación', local_delete_relation_path(other: user.id)%></td>
      <%else%>
      <%end%>
    </tr>
    <% end %>
  </tbody>
</table>