<div class="row" style="margin-top:0px;">
      <div class="field large-4 columns"  id="physical_examination_content">
         <b ><%= label_tag t('diagnostics.physical_examination') %></b>
       <div style="margin-top:25px;"> <%= text_area_tag 'physical_examination', nil, rows: 10, cols: 25  %></div>
      </div>
      <div class="field large-4 columns"  id="list_of_laboratory_studies_content">
         <b><%= label_tag t('diagnostics.list_of_laboratory_studies') %></b>
        <div style="margin-top:5px;"><%= text_area_tag 'list_of_laboratory_studies', nil, rows: 10, cols: 25  %></div>
      </div>
      <div class="field large-4 columns"  id="required_therapies_content">
         <b><%= label_tag t('diagnostics.required_therapies') %></b>
      <div style="margin-top:25px;">  <%= text_area_tag 'required_therapies', nil, rows: 10, cols: 25  %></div>
      </div>
</div>