<div class="row">
	<div class="panel subheader">
		La fecha del diagnóstico se asigna en el momento que se crea.
	</div>
	<div class="panel">
		<%= render partial: "/single_files/user_select", locals: {user: user}%>
	</div>
	<div class="panel subheader">
		Puedes agregar este diagnóstico a a la historia clínica seleccionando enta opcción: <%= check_box_tag 'add_clinical', true, true%>
	</div>
</div>
<div class="field">
	<%= hidden_field_tag 'owner_by', owner.id %>
</div>
<div class="field">
	<b><%= label_tag t('diagnostics.interrogation') %>(obligatorio)</b><br>
	<%= text_area_tag 'interrogation', nil, rows: 10, cols: 25 %>
</div>