<% if agent %>
<div style="background:#ffffff !important; position:fixed; width:105%; padding:5px; left:0px; padding-left:10%;">
<center>
<%end%>
  <% if ifcurrentuser %>
  <% if user.id == current_user.id %>
  <%= link_to post_in_path(user.id, :type => 'upload_file'), remote: true  do %>
  <div style="40px !important;" class="left">
    <div class="stock_menu slide-p" onclick="javascript:$.pageslide({ direction: 'left', href:'#left_hide' })">
      <%= image_tag('menu/analisis2.png', width: 60, height: 60)%>
    </div>
    <center>
    <p>Análisis</p>
    </center>
  </div>
  <%end%>
  <%= link_to post_in_path(user.id, :type => 'vital_signs'), remote: true  do %>
  <div style="40px !important;" class="left">
    <div class="stock_menu slide-p" onclick="javascript:$.pageslide({ direction: 'left', href:'#left_hide' })">
      <%= image_tag('menu/plus.png', width: 60, height: 60)%>
    </div>
    <center>
    <p>Signos</p>
    </center>
  </div>
  <%end%>
  <%end%>
  <%else%>
  <%= link_to post_in_path(user.id, :type => 'diagnostic'), remote: true  do %>
  <div style="40px !important;" class="left">
    <div class="stock_menu slide-p" onclick="javascript:$.pageslide({ direction: 'left', href:'#left_hide' })">
      <%= image_tag('menu/diagnostic.png', width: 60, height: 60)%>
    </div>
    <center>
    <p>Consulta</p>
    </center>
  </div>
  <%end%>
  <% if user.id != current_user.id %>
  <%= link_to post_in_path(user.id, :type => 'note'), remote: true  do %>
  <div style="40px !important;" class="left">
    <div class="stock_menu slide-p" onclick="javascript:$.pageslide({ direction: 'left', href:'#left_hide' })">
      <%= image_tag('menu/note.png', width: 60, height: 60)%>
    </div>
    <center>
    <p>Nota</p>
    </center>
  </div>
  <%end%>
  <%end%>
  <%= link_to post_in_path(user.id, :type => 'upload_file'), remote: true  do %>
  <div style="40px !important;" class="left">
    <div class="stock_menu slide-p" onclick="javascript:$.pageslide({ direction: 'left', href:'#left_hide' })">
      <%= image_tag('menu/analisis2.png', width: 60, height: 60)%>
    </div>
    <center>
    <p>Análisis</p>
    </center>
  </div>
  <%end%>
  <%= link_to post_in_path(user.id, :type => 'vital_signs'), remote: true  do %>
  <div style="40px !important;" class="left">
    <div class="stock_menu slide-p" onclick="javascript:$.pageslide({ direction: 'left', href:'#left_hide' })">
      <%= image_tag('menu/plus.png', width: 60, height: 60)%>
    </div>
    <center>
    <p>Signos</p>
    </center>
  </div>
  <%end%>
  <%= link_to new_dental_record_path(id: user.id) do %>
    <div style="40px !important;" class="left">
    <div class="stock_menu" >
      <%= image_tag('menu/tooth.png', width: 60, height: 60)%>
    </div>
    <center>
    <p>Dental</p>
    </center>
    </div>
  <%end%>
  <%end%>
<% if agent %>
</center>
</div>
<%end%>