<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "DM" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "http://code.jquery.com/jquery-2.1.0.min.js" %>


    <%= csrf_meta_tags %>
  </head>
  <%=render partial: 'layout_parts/heather', :locals => {:title => 'DM'}%>
  <body class="grey-background">
    <div id="container" class="raw white-back w80">
      <div id='close_page_slider' style="display:none;"><%= image_tag('menu/close.png')%></div>   
      <div id="left_hide" style="display:none;" ></div>
       <%= yield %>
    </div>
   <%= javascript_include_tag "application" %>
  </body>
</html>