<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "DM" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "http://code.jquery.com/jquery-2.1.0.min.js" %>
    <%= csrf_meta_tags %>
  </head>
  <%=render partial: 'layout_parts/heather', :locals => {:title => 'DM'}%>
  <body class="grey-background">
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
  <footer>
  <%= render partial: '/layout_parts/foo'%>
  </footer>
</html>